# App setup
PORT=3000
FRONTEND_URL="http://localhost:8080"

# Database
DB_USER=root
DB_PASSWORD=root
DB_NAME=b_cal
DB_PORT=5432
DB_HOST=localhost

# Mail
MAIL_SECRET="your-mail-secret"
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USER=user@example.com
MAIL_PASS=password
MAIL_FROM="b-cal <noreply@b-cal.dev>"

# JWT Strategy
SECRET_KEY="your-secret-key-must-be-at-least-32-characters"
REFRESH_SECRET_KEY="your-refresh-secret-must-be-at-least-32-chars"
MAIL_SECRET_KEY="your-mail-secret-must-be-at-least-32-characters"
CSRF_SECRET="your-csrf-secret-must-be-at-least-32-characters"

# Sentry

SENTRY_DSN="DNS for Sentry"
